.container{display: grid;
height: 200vh;
grid-template-columns:1fr 1fr 1fr 1fr ;
grid-template-rows: 0.1fr 0.1fr auto 0.1fr ;
grid-template-areas: "navbar navbar navbar navbar"
"box1  main main main"
"sidebar main main main"
"box2 main main main"
"footer footer footer footer";
gap:10px;
background-color:#f1f3f6;}
nav{background-color: #2874f0;
grid-area: navbar;}
nav ul{display: flex;
    justify-content: space-between;
    width: 80vw;
margin: auto;
align-items: center;}
li a{ color: #fff;
    text-decoration: none;}
    li a span{color: yellow;
    font-weight: 900px;}
    .logo{width: 120px;}
    .logosection img{display: block;}
    nav .plus{display: inline-block;}
.fa-magnifying-glass{background-color: #fff;
    order: none;
color: #2874f0;
position: relative; 
right: 20px;}
.HE{color: #fff; font-size: 16px;}
.fa-light{color: #2874f0;}
.top{background-color: #fff;
padding: 10px 0px;
width: 98vw}

main{background-color:;
grid-area: main;}
.box1{background-color:;
grid-area: box1;}
.box2{background-color:#2874f0 ;
grid-area: box2;}
.fa-user{color: #2874f0}
.fa-users-rectangle{background-color: #2874f0; color: #fff;}
.fa-power-off{color: #2874f0;}
.fa-angle-right{color: #000;}
h3{color: rgb(143, 144, 143)}
.sidebar{background-color:;
grid-area:sidebar ;}
footer{background-color:#172337;
color: white;
grid-area: footer;
font-family:Arial, Helvetica, sans-serif;}
footer ul{list-style-type: none;}
   .wrapper>ul:last-child,.wrapper>ul:nth-child(5){width: 250px;}
    footer ul li{margin-bottom: 10px;}
    footer ul li:first-child{color: #5c5353;}
    .wrapper{width: 90vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 40px 0px;}
        .line{border-top: 1px solid #454d5e;
            display: flex;
            justify-content: space-between;
        padding: 10px 0px;
    color: #fff;}
        .fa-bag-shopping{color: #ffc100}
        .fa-circle-question{color: #ffc100;}
        .fa-gift{color: #ffc100;}
        input[type="radio"]{accent-color: rgb(28, 96, 221);}
        .abc78{height:25px;}
    

    
    

    